
body {
    font-family: "Lato", sans-serif;
    background: #444;
}

.remote-domain {
    text-align: center;
    color: #ef0000;
}

#remote {
    padding-top:1em;
}

.site-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}