body {
    background-color: var(--bs-gray-300);
}

.rounded-2xl {
	border-radius: 1rem;
}

.rounded-top-2xl {
	border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important;
}

.bg-site {
    background-color: rgba(0,0,0,.03);
}

.font-bold {
    font-weight: 700;
}

.host-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.site-width {
    flex: 1 1 auto;
}

@media (min-width: 1200px) {
    .site-width {
        flex: unset;
        min-width: 30%;
    }
}

.site-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

/** Remove blue border on button **/
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.no-z-index {
    z-index: unset !important;
}

/** Toast **/
.toast {
    background-color: #ffffff;
}

.toast-danger > .toast-header {
    background-color: #ff0000;
    color: #ffffff;
}

.toast-warning > .toast-header {
    background-color: #ffc107;
    color: #000000;
}

.toast-success > .toast-header {
    background-color: #198754;
    color: #ffffff;
}