
body {
    font-family: "Lato", sans-serif;
    background: #444;
}

.remote-domain {
    text-align: center;
    color: #ef0000;
}

.site {
    text-align: center;
    color: #ef0000;
}

#remote {
    padding-top:1em;
}

