<template>
  <div
    class="text-white fw-bolder h-100 d-flex flex-column align-items-center justify-content-center"
  >
    <div class="ascii-art">
      &nbsp;___&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;&nbsp;________&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;&nbsp;___<br />
      |\\&nbsp;&nbsp;\\&nbsp;|\\&nbsp;&nbsp;\\&nbsp;|\\&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;\\&nbsp;|\\&nbsp;&nbsp;\\&nbsp;|\\&nbsp;&nbsp;\\<br />
      \\&nbsp;\\&nbsp;&nbsp;\\\\_\\&nbsp;&nbsp;\\\\&nbsp;\\&nbsp;&nbsp;\\|\\&nbsp;&nbsp;\\\\&nbsp;\\&nbsp;&nbsp;\\\\_\\&nbsp;&nbsp;\\<br />
      &nbsp;\\&nbsp;\\______&nbsp;&nbsp;\\\\&nbsp;\\&nbsp;&nbsp;\\\\\\&nbsp;&nbsp;\\\\&nbsp;\\______&nbsp;&nbsp;\\<br />
      &nbsp;&nbsp;\\|_____|\\&nbsp;&nbsp;\\\\&nbsp;\\&nbsp;&nbsp;\\\\\\&nbsp;&nbsp;\\\\|_____|\\&nbsp;&nbsp;\\<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\\&nbsp;\\__\\\\&nbsp;\\_______\\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\\&nbsp;\\__\\<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\\|__|&nbsp;\\|_______|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\\|__|<br />
    </div>
    <div class="ascii-art">NOT FOUND</div>
  </div>
</template>
