<script setup lang="ts">
import axios from 'axios'
import { onBeforeMount, onBeforeUnmount, ref, computed, type Ref } from 'vue'

import HostMenu from '@/components/RemoteAccess/HostMenu.vue'
import SiteElement from '@/components/RemoteAccess/SiteElement.vue'
import { ToastType, type Connection, type Host, type Ordering, type Site } from '@/models'
import { useToastsStore } from '@/stores'

const toastsStore = useToastsStore()
const hosts: Ref<Array<Host>> = ref([])
const sites: Ref<Array<Site>> = ref([])
let ordering: Ordering | undefined = undefined
const connectionInProgress: Ref<boolean> = ref(false)
const interval: Ref<ReturnType<typeof setTimeout> | undefined> = ref(undefined)
const hostMenuPayload: Ref<Connection | undefined> = ref(undefined)
let hostMenuPayloadLoadingRef: Ref<boolean> = ref(false)

onBeforeMount(() => {
  if (!interval.value) {
    loadData()
    interval.value = setInterval(loadData, 60000)
  }
})

onBeforeUnmount(() => {
  if (interval.value) {
    clearInterval(interval.value)
  }
  interval.value = undefined
})

function loadData() {
  axios
    .get('/remote/list')
    .then((response) => {
      hosts.value = response.data.hosts
      ordering = response.data.ordering

      // generate site -> domain -> group structure
      sites.value = []
      for (const host of hosts.value) {
        if (!(host.config.site && host.config.domain && host.config.group)) {
          continue
        }
        let site = sites.value.find((e) => e.name === host.config.site)
        if (!site) {
          site = { name: host.config.site, domains: [] }
          sites.value.push(site)
        }
        let domain = site.domains.find((e) => e.name === host.config.domain)
        if (!domain) {
          domain = { name: host.config.domain, groups: [] }
          site.domains.push(domain)
        }
        let group = domain.groups.find((e) => e.name === host.config.group)
        if (!group) {
          group = { name: host.config.group, hosts: [] }
          domain.groups.push(group)
        }
        group.hosts.push(host)
      }
    })
    .catch((error) => {
      // if code is 500, the API return an error
      if (error.response && error.response.status === 500) {
        toastsStore.addToast({
          type: ToastType.Danger,
          title: 'Internal error',
          body: error.response.data.message,
          delaySecond: 10,
        })
      } else {
        // if code is not 500, the API may be unreachable
        toastsStore.addToast({
          type: ToastType.Warning,
          title: 'Unable to contact API',
          body: 'Impossible to retrieve information of the available hosts',
          delaySecond: 10,
        })
      }
    })
}
function executeConnection(connection: Connection) {
  if (connectionInProgress.value) {
    toastsStore.addToast({
      type: ToastType.Warning,
      title: 'Remote Connection',
      body: 'A connection is already in progress!',
      delaySecond: 10,
    })
    return
  }
  connectionInProgress.value = true
  connection.loading_ref.value = true
  axios
    .get(`/remote/connect/${connection.hostUUID}`)
    .then((response) => {
      if (response.data.status !== 0) {
        toastsStore.addToast({
          type: ToastType.Danger,
          title: 'Connection error',
          body: `Cant't connect to ${connection.hostname}`,
          delaySecond: 60,
          modal: {
            title: 'Remote exec error (' + response.data.status + ')',
            body:
              '<p>URL: ' +
              response.request.responseURL +
              '</p><hr>' +
              '<p>Command:<br/>' +
              response.data.cmd +
              '</p><hr>' +
              '<p>Message:<br/>' +
              response.data.msg.replace(/\n/g, '</br>') +
              '</p>',
          },
        })
      }
    })
    .catch((error) => {
      if (error.response) {
        toastsStore.addToast({
          type: ToastType.Danger,
          title: 'Connection error',
          body: 'Incorrect use of the API',
          delaySecond: 60,
          modal: {
            title:
              'Error (' + error.response.status + ') occurs accessing ' + error.request.responseURL,
            body: error.response.data,
          },
        })
      } else {
        toastsStore.addToast({
          type: ToastType.Danger,
          title: 'Unable to connect API',
          delaySecond: 10,
        })
      }
    })
    .finally(() => {
      connectionInProgress.value = false
      connection.loading_ref.value = false
    })
}
function domains_ordering(site_name: string) {
  if (!ordering) return undefined
  return ordering.find((e) => e.name === site_name)?.domains
}

const sites_ordered = computed(() => {
  return [...sites.value].sort((a: Site, b: Site) => {
    if (!ordering) return 0
    const order_site_a = ordering.find((e) => e.name === a.name)
    const order_a = order_site_a ? order_site_a.order : 0
    const order_site_b = ordering.find((e) => e.name === b.name)
    const order_b = order_site_b ? order_site_b.order : 0
    return order_a - order_b
  })
})

function executeConnectionMenu(connection: Connection) {
  connection.loading_ref = hostMenuPayloadLoadingRef
  executeConnection(connection)
}

function showHostMenu(host: Connection) {
  hostMenuPayloadLoadingRef = host.loading_ref // eslint-disable-line vue/no-ref-as-operand
  hostMenuPayload.value = host
}
</script>
<template>
  <div class="d-flex flex-wrap gap-4 justify-content-evenly">
    <SiteElement v-for="site in sites_ordered" :key="site.name" :name="site.name" :domains="site.domains"
      :ordering="domains_ordering(site.name)" :lock="connectionInProgress" @connection-request="executeConnection"
      @menu-request="showHostMenu" />
  </div>
  <HostMenu v-if="hostMenuPayload" :host="hostMenuPayload" @connection-request="executeConnectionMenu"
    @close-context-menu="hostMenuPayload = undefined" />
</template>
