<script setup lang="ts">
import { onBeforeMount, ref, type Ref } from 'vue'
import axios from 'axios'
import PreferenceInput from '@/components/PreferenceInput.vue'
import { useToastsStore } from '@/stores'
import { PreferenceType, ToastType, type ApiResponse, type Preference, type PreferenceValue } from '@/models'

const toastsStore = useToastsStore()

const preferences: Ref<Array<Preference>> = ref([])

onBeforeMount(() => {
  requestGlobalPreferences()
})

function requestGlobalPreferences() {
  axios.get<ApiResponse<Array<Preference>>>('/user/preferences/global').then((response) => {
    updateSettings(response.data)
  })
}

function updateSettings(payload: ApiResponse<Array<Preference>>) {
  preferences.value = payload.preferences

  // parse the resolution into width and height
  for (const preference of preferences.value) {
    if (preference.type !== PreferenceType.Boolean && preference.value === preference.default) {
      preference.value = ''
    }

    if (preference.type === PreferenceType.Resolution) {
      // replace value with an object
      if (preference.value && preference.value instanceof String) {
        const resolution = preference.value.split('x')
        preference.value = {
          width: Number(resolution[0]),
          height: Number(resolution[1]),
        }
      }
      // replace default with an object
      if (preference.default instanceof String) {
        const resolution = preference.default.split('x')
        preference.default = {
          width: Number(resolution[0]),
          height: Number(resolution[1]),
        }
      }
    }
  }
}

function saveSettings() {
  // make a request to the server to update the user's preferences
  let payload = JSON.parse(JSON.stringify(preferences.value))

  // parse the resolution into a string
  for (const preference of payload) {
    if (preference.type === 'resolution') {
      if (!preference.value.width || !preference.value.height) {
        preference.value = ''
      } else {
        preference.value = preference.value.width + 'x' + preference.value.height
      }
    }
  }

  // remove empty values or values that are the same as the default
  payload = payload.filter((preference: Preference) => {
    if (preference.value === '' || preference.value === preference.default) {
      return false
    }
    return true
  })

  // remove attributes that are not needed by the server (default, type)
  payload = payload.map((preference: Preference) => {
    return {
      name: preference.name,
      value: preference.value,
    }
  })

  axios
    .post('/user/preferences/global', { preferences: payload })
    .then(() => {
      toastsStore.addToast({
        type: ToastType.Success,
        title: 'Preferences saved',
        body: 'Your preferences have been saved successfully',
        delaySecond: 2,
      })
      requestGlobalPreferences()
    })
    .catch((error) => {
      toastsStore.addToast({
        type: ToastType.Warning,
        title: 'Failed to save preferences',
        body: error.response.data.errors,
        delaySecond: 10,
      })
    })
}
</script>
<template>
  <div class="bg-white shadow rounded-2xl d-flex flex-column px-4 py-4">
    <div class="text-center fw-bold fs-2 mb-4">User Preferences</div>
    <div class="d-flex flex-row justify-content-evenly">
      <div class="bg-secondary-subtle text-emphasis-dark rounded-2xl px-4 py-4">
        <div class="fw-bold fs-3 mb-4">Global</div>
        <div class="alert alert-light" role="alert">
          This box allows you to set custom values that are global. This means that all hosts are
          affected by these settings.
        </div>
        <div>
          <PreferenceInput v-for="preference in preferences" :key="preference.name" v-model:value="preference.value"
            :name="preference.name" :type="preference.type" :default="preference.default as PreferenceValue" />
          <button class="btn btn-primary" @click="saveSettings">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
