<script setup lang="ts">
import { ref, onBeforeMount } from 'vue'
import type { Ref } from 'vue'
import axios from 'axios'

interface Link {
  label: string
  url: string
}

const links: Ref<Array<Link>> = ref([])

onBeforeMount(() => {
  axios
    .get('/conf/menu')
    .then((response) => {
      if (!response.data.menu) return;
      links.value = response.data.menu
    })
    .catch(() => {
      console.error('Fail to get menu')
    })
})
</script>

<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">
    <div class="container-fluid">
      <router-link class="navbar-brand fs-4 fw-bold" :to="{ name: 'RemoteAccess' }">
        My Dashboard
      </router-link>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list" />
      </button>

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li v-for="(link, index) in links" :key="index" class="nav-item">
            <a class="nav-link" target="_blank" :href="link.url">{{ link.label }}</a>
          </li>
        </ul>

        <router-link type="button" class="btn btn-success btn-settings rounded-pill" :to="{ name: 'UserPreferences' }">
          <i class="bi bi-gear-fill" /> Settings
        </router-link>
      </div>
    </div>
  </nav>
</template>
