<script setup lang="ts">
import type { PreferenceValue, Resolution } from '@/models'
import { computed } from 'vue'

const props = defineProps<{
  name: string,
  type: PreferenceValue,
  default: PreferenceValue,
}>()

const value = defineModel<PreferenceValue>('value')

// convert the preference name to a human readable format
// replace _ with a space
// capitalize the first letter of each word
const formattedName = computed(() => {
  return props.name
    .replace(/_/g, ' ')
    .replace(/\w\S*/g, (word) => word.replace(/^\w/, (c) => c.toUpperCase()))
})
</script>
<template>
  <div v-if="type === 'bool'" class="form-check form-switch user-select-none">
    <input :id="'switch-' + name" class="form-check-input" type="checkbox" v-model="value as boolean" />
    <label class="form-check-label" :for="'switch-' + name">{{ formattedName }}</label>
  </div>
  <div v-else-if="type === 'resolution'" class="mb-3">
    <label class="form-label">{{ formattedName }}</label>
    <div class="input-group">
      <input v-model="(value as Resolution).width" type="number" min="0" class="form-control"
        :placeholder="(props.default as Resolution).width?.toString()" aria-label="Width" />
      <span class="input-group-text">x</span>
      <input v-model="(value as Resolution).height" type="number" min="0" class="form-control"
        :placeholder="(props.default as Resolution).height?.toString()" aria-label="Heigh" />
    </div>
  </div>
  <div v-else class="form-group">
    <label :for="'input-' + name">{{ formattedName }}</label>
    <input :id="'input-' + name" v-model="value" type="text" class="form-control"
      :placeholder="props.default.toString()" />
  </div>
</template>
