<script setup lang="ts">
import ToastItem from './ToastItem.vue'
import { useToastsStore } from '@/stores'

const toastsStore = useToastsStore()
</script>

<template>
  <div class="toast-container position-absolute bottom-0 end-0 m-2">
    <ToastItem v-for="toast in toastsStore.toasts" :key="toast.uuid" :toast="toast" />
  </div>
</template>
