<script setup lang="ts">
import { ref, onBeforeMount, computed, onBeforeUnmount, onMounted } from 'vue'
import type { Ref } from 'vue'
import type { Toast } from '@/models'
import { Modal } from 'bootstrap'
import { useToastsStore } from '@/stores'

const toastsStore = useToastsStore()
const props = defineProps<{
  toast: Toast
}>()

const timeout: Ref<ReturnType<typeof setTimeout> | undefined> = ref(undefined)
const hoverToast: Ref<boolean> = ref(false)
const hoverModal: Ref<boolean> = ref(false)
const counter: Ref<number> = ref(10)
const modalId: Ref<string | undefined> = ref(undefined)
const modalInstance: Ref<Modal | undefined> = ref(undefined)
const modalIsShow: Ref<boolean> = ref(false)

function refreshCounter() {
  if (decrementCounter.value) {
    counter.value--
    if (counter.value < 0) {
      close()
    }
  }
  timeout.value = setTimeout(refreshCounter, 1000)
}

function close() {
  if (props.toast.uuid) {
    toastsStore.removeToast(props.toast.uuid)
  }
}

function showModal() {
  if (!modalInstance.value) return
  modalInstance.value.show()
}
function modalOn() {
  modalIsShow.value = true
}
function modalOff() {
  modalIsShow.value = false
}

onBeforeUnmount(() => {
  // close modal
  if (!modalInstance.value) return
  modalInstance.value.hide()

  // clear timeout
  clearTimeout(timeout.value)
  timeout.value = undefined
})

onBeforeMount(() => {
  // Set modal id
  if (props.toast.modal) {
    modalId.value = 'modal-toast-' + props.toast.uuid
  }
})

onMounted(() => {
  // Set delay
  if (props.toast.delaySecond) {
    counter.value = props.toast.delaySecond
    timeout.value = setTimeout(refreshCounter, 1000)
  }

  // Set modal
  if (props.toast.modal && modalId.value) {
    const modal = document.getElementById(modalId.value)
    if (modal) {
      modalInstance.value = new Modal(modal)
      modal.addEventListener('show.bs.modal', modalOn, false)
      modal.addEventListener('hidden.bs.modal', modalOff, false)
    }
  }
})

const decrementCounter = computed(() => {
  return !modalIsShow.value && !hoverToast.value
})
</script>

<template>
  <div class="toast fade show" :class="'toast-' + toast.type" role="alert" @mouseover="hoverToast = true"
    @mouseleave="hoverToast = false">
    <div class="toast-header">
      <strong class="me-auto">{{ toast.title }}</strong>
      <button type="button" class="btn-close" aria-label="Close" @click="close" />
    </div>
    <div v-if="toast.body" class="toast-body">
      {{ toast.body }}
      <button v-if="toast.modal" type="button" class="btn btn-sm" :class="'btn-outline-' + toast.type"
        @click="showModal">
        Show more
      </button>
    </div>

    <!-- Modal -->
    <div v-if="modalId && toast.modal" :id="modalId" class="modal" tabindex="-1" @mouseover="hoverModal = true"
      @mouseleave="hoverModal = false">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">
              {{ toast.modal.title }}
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>

          <!-- Modal body -->
          <!-- eslint-disable vue/no-v-html -->
          <div class="modal-body" v-html="toast.modal.body" />
          <!--eslint-enable-->

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
