<script setup lang="ts">
import NavBar from './components/NavBar.vue'
import Toasts from './components/ShowToasts.vue'
</script>

<template class="d-flex flex-column h-100">
  <NavBar />
  <div class="container-fluid px-4 flex-grow-1 py-4">
    <router-view />
  </div>
  <Toasts />
</template>
