
.group-rouge {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.group-jaune {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.group-vert {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}


.group-blanc {
    color: #343a40;
    background-color: #ffffff;
    border-color: #343a40;
}

.group-bleu {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.group-marron {
    color: #fff;
    background-color: #704a4a;
    border-color: #482828;
}

.group-gris {
    color: #343a40;
    background-color: #ccc;
    border-color: #548282;
}


.group-nocolor {
    color: #343a40;
    background-color: #eee;
    border-color: #343a40;
}
