<script setup lang="ts">
import { computed, type PropType } from 'vue'
import HostElement from './HostElement.vue'
import type { Connection, Host, OrderingGroup } from '@/models'
import type { Group } from '@/models'

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  groups: {
    type: Array<Group>,
    required: true,
  },
  ordering: {
    type: Object as PropType<OrderingGroup[]>,
    required: false,
  },
  lock: {
    type: Boolean,
    default: false,
  },
})

const emit = defineEmits(['connection-request', 'menu-request'])

function forwardConnectionRequest(connection: Connection) {
  connection.domain = props.name
  emit('connection-request', connection)
}

function forwardMenuRequest(host: Host) {
  emit('menu-request', host)
}

const groups_ordered = computed(() => {
  return [...props.groups].sort((a: Group, b: Group) => {
    if (!props.ordering) return 0
    const order_group_a = props.ordering.find((e) => e.name === a.name)
    const order_a = order_group_a ? order_group_a.order : 0
    const order_group_b = props.ordering.find((e) => e.name === b.name)
    const order_b = order_group_b ? order_group_b.order : 0
    return order_a - order_b
  })
})
</script>

<template>
  <div class="d-flex flex-column align-items-center">
    <p>{{ name }}</p>
    <div class="btn-group-vertical shadow-lg">
      <template v-for="group in groups_ordered">
        <HostElement v-for="host in group.hosts" :key="name + '-' + host.name" :host="host" :group-name="group.name"
          :lock="lock" @connection-request="forwardConnectionRequest" @menu-request="forwardMenuRequest" />
      </template>
    </div>
  </div>
</template>
