<script setup lang="ts">
import type { Host } from '@/models'
import { computed, onBeforeMount, ref, watch, useTemplateRef, type PropType, type Ref } from 'vue'

const props = defineProps({
  groupName: {
    type: String,
    required: true,
  },
  host: {
    type: Object as PropType<Host>,
    required: true,
  },
  lock: {
    type: Boolean,
    default: false,
  },
})

const emit = defineEmits(['connection-request', 'menu-request'])

const loading: Ref<boolean> = ref(false)
const classObject: Ref<{ [key: string]: boolean }> = ref({
  'host-padding': true,
})
const button = useTemplateRef<HTMLInputElement>('button')

onBeforeMount(() => {
  classObject.value['group-' + props.groupName] = true
})

function handleRequestConnection() {
  if (loading.value) {
    // ignore when already loading...
    return
  }
  emit('connection-request', {
    hostUUID: props.host.uuid,
    hostname: hostname.value,
    loading_ref: loading,
  })
}

function handleRightClick(event: MouseEvent) {
  if (loading.value) {
    // ignore when already loading...
    return
  }
  emit('menu-request', {
    hostUUID: props.host.uuid,
    hostname: hostname.value,
    loading_ref: loading,
    event: event,
  })
}

const disableButton = computed(() => {
  return !loading.value && props.lock
})

const hostname = computed(() => {
  if (Object.prototype.hasOwnProperty.call(props.host, 'alias')) {
    return props.host.alias
  }
  return props.host.name
})

watch(loading, async (newStatus) => {
  if (button.value == null) {
    return
  }
  if (newStatus) {
    // add 2px for border
    button.value.style.width = button.value.clientWidth + 2 + 'px'
    classObject.value['host-padding'] = false
  } else {
    button.value.style.removeProperty('width')
    classObject.value['host-padding'] = true
  }
})
</script>

<template>
  <div class="btn-group dropend">
    <button ref="button" class="btn no-z-index text-nowrap" type="button" :disabled="disableButton"
      :class="[classObject, { 'cursor-wait': loading }]" @click="handleRequestConnection"
      @contextmenu.prevent="handleRightClick">
      <span v-if="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" />
      {{ hostname }}
    </button>
  </div>
</template>
