<script setup lang="ts">
import axios from 'axios'
import { computed, onMounted, ref, useTemplateRef, watch, type Ref } from 'vue'
import PreferenceInput from '@/components/PreferenceInput.vue'
import { Modal } from 'bootstrap'
import { useToastsStore } from '@/stores'
import {
  PreferenceType,
  ToastType,
  type ApiResponse,
  type Host,
  type Preference,
  type PreferenceValue,
} from '@/models'

const toastsStore = useToastsStore()
const props = defineProps({
  hostUuid: {
    type: String,
    default: undefined,
  },
  triggerShowModal: {
    type: Boolean,
    default: false,
  },
})

const modalInstance: Ref<Modal | undefined> = ref(undefined)
const hostDetailled: Ref<Host | undefined> = ref(undefined)
const preferences: Ref<Array<Preference> | undefined> = ref(undefined)

const modal = useTemplateRef<HTMLInputElement>('modal')

onMounted(() => {
  if (!modal.value) {
    return
  }
  // Set modal
  modalInstance.value = new Modal(modal.value)
})

function loadDetailledHost() {
  axios
    .get(`/remote/info/${props.hostUuid}`)
    .then((response) => {
      hostDetailled.value = response.data
    })
    .catch(() => {
      toastsStore.addToast({
        type: ToastType.Warning,
        title: 'Unable to contact API',
        body: 'Impossible to retrieve information of the available hosts',
        delaySecond: 10,
      })
    })
}
function requestGlobalPreferences() {
  axios.get('/user/preferences/global').then((response) => {
    updateSettings(response.data)
  })
}
function updateSettings(payload: ApiResponse<Array<Preference>>) {
  preferences.value = payload.preferences

  if (!preferences.value) return

  // parse the resolution into width and height
  for (const preference of preferences.value) {
    if (preference.type !== PreferenceType.Boolean && preference.value === preference.default) {
      preference.value = ''
    }

    if (preference.type === PreferenceType.Resolution) {
      // replace value with an object
      if (preference.value && preference.value instanceof String) {
        const resolution = preference.value.split('x')
        preference.value = {
          width: Number(resolution[0]),
          height: Number(resolution[1]),
        }
      } else {
        preference.value = {
          width: undefined,
          height: undefined,
        }
      }
      // replace default with an object
      if (preference.default instanceof String) {
        const resolution = preference.default.split('x')
        preference.default = {
          width: Number(resolution[0]),
          height: Number(resolution[1]),
        }
      }
    }
  }
}
function saveSettings() {
  // make a request to the server to update the user's preferences

  let payload = JSON.parse(JSON.stringify(preferences.value))

  // parse the resolution into a string
  for (const preference of payload) {
    if (preference.type === PreferenceType.Resolution) {
      if (!preference.value.width || !preference.value.height) {
        preference.value = ''
      } else {
        preference.value = preference.value.width + 'x' + preference.value.height
      }
    }
  }

  // remove empty values or values that are the same as the default
  payload = payload.filter((preference: Preference) => {
    if (preference.value === '' || preference.value === preference.default) {
      return false
    }
    return true
  })

  // remove attributes that are not needed by the server (default, type)
  payload = payload.map((preference: Preference) => {
    return {
      name: preference.name,
      value: preference.value,
    }
  })

  axios
    .post('/user/preferences/global', { preferences: payload })
    .then(() => {
      toastsStore.addToast({
        type: ToastType.Success,
        title: 'Preferences saved',
        body: 'Your preferences have been saved successfully',
        delaySecond: 2,
      })
      requestGlobalPreferences()
    })
    .catch((error) => {
      toastsStore.addToast({
        type: ToastType.Warning,
        title: 'Failed to save preferences',
        body: error.response.data.errors,
        delaySecond: 10,
      })
    })
}

const hostname = computed(() => {
  if (hostDetailled.value === undefined) {
    return 'Loading...'
  }
  if (Object.prototype.hasOwnProperty.call(hostDetailled.value, 'alias')) {
    return hostDetailled.value.alias
  }
  return hostDetailled.value.name
})

watch(
  () => props.triggerShowModal,
  () => {
    if (!modalInstance.value) return
    modalInstance.value.show()
    loadDetailledHost()
    requestGlobalPreferences()
  },
)
</script>

<template>
  <div ref="modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Customization of {{ hostname }}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" />
        </div>

        <!-- Modal body -->
        <div v-if="hostDetailled" class="modal-body">
          <PreferenceInput v-for="preference in preferences" :key="preference.name" v-model:value="preference.value"
            :name="preference.name" :type="preference.type" :default="preference.default as PreferenceValue" />
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" @click="saveSettings">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
