<script setup lang="ts">
import {
  onMounted,
  onUnmounted,
  ref,
  useTemplateRef,
  watch,
  type Ref,
} from 'vue'
import HostInformationModal from './HostInformationModal.vue'
import HostCustomModal from './HostCustomModal.vue'
import type { Connection } from '@/models'

const props = defineProps<{
  host?: Connection
}>()
const emit = defineEmits(['connection-request', 'host-information-modal-request', 'close-context-menu'])

const triggerShowModal = ref(false)
const triggerShowCustomModal = ref(false)
const showMenu = ref(true)
const position: Ref<{ '--mouse-x': string; '--mouse-y': string } | undefined> = ref(undefined)
const menu = useTemplateRef<HTMLInputElement>('menu')

onMounted(() => {
  addEventListener('resize', () => closeMenu())
  position.value = processPosition()
})
onUnmounted(() => {
  removeEventListener('resize', () => closeMenu())
})

function connect() {
  if (!props.host) return;
  emit('connection-request', {
    hostUUID: props.host.hostUUID,
    hostname: props.host.hostname,
    loading_ref: props.host.loading_ref,
  })
  closeMenu()
}
function showInformation() {
  triggerShowModal.value = !triggerShowModal.value
  hideMenu()
}
function showCustom() {
  triggerShowCustomModal.value = !triggerShowCustomModal.value
  hideMenu()
}
function closeMenu() {
  emit('close-context-menu')
}
function hideMenu() {
  showMenu.value = false
}
function processPosition() {
  if (!props.host || !props.host.event) {
    return
  }
  return {
    '--mouse-x': props.host.event.clientX + 'px',
    '--mouse-y': props.host.event.clientY + 'px',
  }
}

watch(
  () => props.host,
  () => {
    showMenu.value = true;
    position.value = processPosition();
  }
)

</script>

<template>
  <ul ref="menu" v-click-outside="hideMenu" class="dropdown-menu" :class="{ show: showMenu }" :style="position">
    <li>
      <a class="dropdown-item" href="#" @click="connect"><i class="bi bi-plugin" /> Connect</a>
    </li>
    <li>
      <a class="dropdown-item" href="#" @click="showCustom"><i class="bi bi-pencil-square" /> Customize</a>
    </li>
    <li>
      <a class="dropdown-item" href="#" @click="showInformation"><i class="bi bi-info-circle" /> Properties</a>
    </li>
  </ul>
  <HostInformationModal v-if="host" :host-uuid="host.hostUUID" :trigger-show-modal="triggerShowModal" />
  <HostCustomModal v-if="host" :host-uuid="host.hostUUID" :trigger-show-modal="triggerShowCustomModal" />
</template>


<style lang="css" scoped>
ul {
  --mouse-x: 0;
  --mouse-y: 0;
  display: none;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  /* The following line is responsible for all the magic */
  transform: translateX(min(var(--mouse-x), calc(100vw - 100%))) translateY(min(var(--mouse-y), calc(100vh - 100%)));
}
</style>
