<script setup lang="ts">
import { computed, onMounted, ref, useTemplateRef, watch, type Ref } from 'vue'
import axios from 'axios'
import { Modal } from 'bootstrap'
import { useToastsStore } from '@/stores'
import { ToastType, type Host } from '@/models'

const toastsStore = useToastsStore()

const props = defineProps({
  hostUuid: {
    type: String,
    default: undefined,
  },
  triggerShowModal: {
    type: Boolean,
    default: false,
  },
})

const modalInstance: Ref<Modal | undefined> = ref(undefined)
const hostDetailled: Ref<Host | undefined> = ref(undefined)
const modal = useTemplateRef<HTMLInputElement>('modal')

onMounted(() => {
  if (!modal.value) {
    return
  }
  // Set modal
  modalInstance.value = new Modal(modal.value)
})

function loadDetailledHost() {
  axios
    .get(`/remote/info/${props.hostUuid}`)
    .then((response) => {
      hostDetailled.value = response.data
    })
    .catch(() => {
      toastsStore.addToast({
        type: ToastType.Warning,
        title: 'Unable to contact API',
        body: 'Impossible to retrieve information of the available hosts',
        delaySecond: 10,
      })
    })
}

const hostname = computed((): string => {
  if (!hostDetailled.value) {
    return 'Loading...'
  }
  if (hostDetailled.value.alias) {
    return hostDetailled.value.alias
  }
  return hostDetailled.value.name
})
watch(
  () => props.triggerShowModal,
  () => {
    if (!modalInstance.value) return
    modalInstance.value.show()
    loadDetailledHost()
  },
)
</script>

<template>
  <div ref="modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Connection Information of {{ hostname }}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" />
        </div>

        <!-- Modal body -->
        <div v-if="hostDetailled" class="modal-body">
          <ul>
            <li>Name : {{ hostDetailled.name }}</li>
            <li>Alias : {{ hostDetailled.alias }}</li>
            <li>Site : {{ hostDetailled.config.site }}</li>
            <li>Domain : {{ hostDetailled.config.domain }}</li>
            <li>Group : {{ hostDetailled.config.group }}</li>
            <li>Protocol : {{ hostDetailled.config.proto }}</li>
            <li v-if="hostDetailled.config['proto-config']">
              Protocol parameters :
              <ul>
                <li v-for="(v, k) in hostDetailled.config['proto-config']" :key="k">
                  {{ k }} : {{ v }}
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
