<script setup lang="ts">
import { computed, type PropType } from 'vue'
import imgSite from '@/assets/computer.svg'
import DomainElement from './DomainElement.vue'
import type { Connection, Domain, Host, OrderingDomain } from '@/models'

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  domains: {
    type: Array<Domain>,
    required: true,
  },
  ordering: {
    type: Object as PropType<OrderingDomain[]>,
    required: false,
  },
  lock: {
    type: Boolean,
    default: false,
  },
})

const emit = defineEmits(['connection-request', 'menu-request'])

function forwardConnectionRequest(connection: Connection) {
  connection.site = props.name
  emit('connection-request', connection)
}

function forwardMenuRequest(host: Host) {
  emit('menu-request', host)
}

function domains_ordering(domain_name: string) {
  if (!props.ordering) return undefined
  return props.ordering.find((e) => e.name === domain_name)?.groups
}

const domains_ordered = computed(() => {
  return [...props.domains].sort((a: Domain, b: Domain) => {
    if (!props.ordering) return 0
    const order_domain_a = props.ordering.find((e) => e.name === a.name)
    const order_a = order_domain_a ? order_domain_a.order : 0
    const order_domain_b = props.ordering.find((e) => e.name === b.name)
    const order_b = order_domain_b ? order_domain_b.order : 0
    return order_a - order_b
  })
})
</script>
<template>
  <div class="bg-white shadow rounded-2xl site-width">
    <div class="d-flex align-items-center px-3 py-2 bg-site rounded-top-2xl border-bottom border-2">
      <img class="site-icon" :src="imgSite" />
      <span class="fw-bold">{{ name }}</span>
    </div>
    <div class="px-5 py-3 d-flex flex-wrap gap-5 justify-content-evenly">
      <DomainElement v-for="domain in domains_ordered" :key="name + '-' + domain.name" :name="domain.name"
        :groups="domain.groups" :lock="lock" :ordering="domains_ordering(domain.name)"
        @connection-request="forwardConnectionRequest" @menu-request="forwardMenuRequest" />
    </div>
  </div>
</template>
